:root {
  --colorPrimary: #fff;
  --colorSecondary: #56E39F;
  --background: #2A1F2D;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  cursor: url(https://res.cloudinary.com/dn7qsxzdf/image/upload/v1653407606/portfolio%20daniel/cursor_2_yavrhq.png), auto;
}

.twitter{
  display: none;
}